aside {
    background-color: white;
    padding: 20px;
    padding-left: 20px;
}

.logo {
    margin-left: 35px;
    margin-top: 30px;
    width: 35px;
       
}

.navigation {
    display: grid;
    margin-left: 0px;
    margin-top: 60px;
    height: 5px;
    gap: 30px;
    justify-content: center;

}

.link-active {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
  
}

.link {
    padding: 10px;
    border-radius: 10px;
    
}

.aside-icons {
    width: 20px;
}