* {
    box-sizing: border-box;
}

body {
    display: inline-block; 
    width: 100%; 
    margin: 0;
}

aside {
    box-sizing: border-box;
    background-color: white; 
    width: 200px; 
    float: left;
    height: 500px;
}    

main {
    background-color: whitesmoke; 
    width: calc(100% - 200px); 
    float: left; 
    height: 500px;
}