* {
    box-sizing: border-box;
}

body {
    display: grid; 
    grid-template-columns: 140px 1fr; 
    margin-top: 0;
    min-height: 100vh;
    
}
 
main {
    background-color: whitesmoke;
            
          
}

header {
    margin-top: 40px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
}

.panel {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
    

}

.dashboard {
    background-color: #219686;
    border-radius: 10px;
    box-shadow: 0 50px 50px -40px #219686;
    color: white;

}

.datasets {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 50px 50px -40px #E7BD51;

}

.users {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 50px 50px -40px #E67376;

}

.real-time {
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 50px 50px -40px #A15EDF;

}

.billing {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 50px 50px -40px #538BD5;

}

.campaign {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 50px 50px -40px #EBAF59;

}


.parag {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.arrow {
    width: 15px;


}